[KGameTheme]
Name=Brown
Name[ca]=Marró
Description=Oxygen theme for KDE 4
Description[ca]=Tema Oxygen per KDE 4
Description[es]=Tema oxígeno para KDE 4
VersionFormat=1
Author=Mark Taff
AuthorEmail=marktaff@comcast.net
Type=SVG
FileName=kmagnet_oxygen_brown.svgz
Preview=brown.png
