[Desktop Entry]
Name=kmagnet
Name[x-test]=xxkmagnetxx
Exec=kmagnet %i -caption "%c"
Icon=kmagnet
Type=Application
DocPath=kmagnet/index.html
GenericName=Simple puzzle game
GenericName[ca]=Trencaclosques senzill
Terminal=0

